<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trueidsso.flutterplugin">

    <application
        android:theme="@style/Theme.AppCompat.Transparent.NoActionBar">
        <activity
            android:name="com.trueidsso.flutterplugin.LoginActivity"/>
    </application>

</manifest>